

/*Variable globales*/
:root{
  --color-white: #F2F2F2;
  --color-black: #0D0D0D;
  --color-yellow-light:#F2E8B3;
  --color-yellow:#F2D544;
  --color-yellow-dark:#F2CF63;
  --title-name:'Righteous', cursive;
  --title: 'Archivo', sans-serif;
  --subtitle: 'Hind Vadodara', sans-serif;
  --paragraph: 'Signika', sans-serif;
}

/*----------------------Estilos de letras--------------------------*/

.title_name{
  font-family:var(--title-name);
}
.title{
  font-family: var(--title);
}
.subtitle{
  font-family: var(--subtitle);
}
.paragraph{
  font-family: var(--paragraph);
}

/*---------------------Tama침o Imagenes-----------------------------*/
.img_small{
  width: 170px;
}
.img_medium{
  width: 500px;
}
.img_big{
  width: 800px;
}
.img_complete{
  width: 100%;
}
.img_logo{
  width: 250px;
}

/*----------------------BOTONES------------------------------------*/
.btn{
  font-family: var(--title);
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 12px;
  border:none;
  transition: 0.3s;
}
.btn:hover{
  transform: scale(.95);
}
.btn_dark{
  color: var(--color-white);
  background: var(--color-black);
}
.btn_dark:hover{
  color: var(--color-yellow);

}
.btn_light{
  color: var(--color-black);
  background: var(--color-white);
}
.btn_light:hover{
  background:var(--color-yellow-light);
}


/*------------------------Estilos formularios------------------------------------*/

input{
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: var(--color-white);
  margin-bottom: 1em;
}
/* supongo que el tama침o es diferente en algunos casos asi que lo dejo en sus manos xd*/
input[type=text] {
  background: var(--color-yellow-light);
}
.placeholder_yellow::placeholder{
  color: var(--color-yellow);
}
/*body*/
body{
  margin:0;
  background: var(--color-white);
}
/*minimo tama침o horizontal*/
.minWidth{
  min-width: 750px;
}
/*Barra de navegaci칩n*/
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header div{
  width: 100%;
}
.header > .language{
  background-color: var(--color-black);
}
.header > .language > button{
  float: right;
}
.navBar{
  display: flex;
  justify-content: space-around;
  background-color: var(--color-yellow);
  padding: 15px 0px;
}
#position{
  color: var(--color-white);
}
.navBar a{
  width: auto;
  text-decoration: none;
  transition: 1s;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: var(--color-black);
  font-family: var(--title);
  font-size: 20px;
}
.navBar a:hover{
  background-size: 100% 2px;
}

.grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "left main rigth";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;
  grid-column-gap: 20px;   
  margin: 0; 
}

.grid1{
  text-align: center;
}

.grid2{
  text-align: justify;
}

.grid3{
  text-align: justify;
  margin-top: 80px;
}

#historyback{
  margin-top: 80px;
}


.history{
  margin-right: 20px;
}

.imagenes{
  float: left;
  margin: 0px;
  width: 130px;
  height: 109px;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 10px;
}

.parent {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-self: center;
  }
  
  .upButton { 
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }

.downButton { 
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-left: 100px;



}

.div4 { grid-area: 1 / 1 / 2 / 2; }
.div6 { grid-area: 1 / 2 / 2 / 3; }

  .parent div{
    background-color: #0D0D0D;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    text-align: center;
  }
  .parent div a{
    font-family: var(--title);
    font-size: 18px;
    color: #F2CF63;
    text-decoration: none;
    bottom:50px;
  }









